
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Gestion des casiers</title>
</head>
<body>
  <header>
    <a href="#">
      <img src="P_Casier\resources\views\pages\pictures\etml-sigle.jpg">
    </a>
    <nav>
      <ul>
        <li>
          <a href="#">Tableau de bord</a>
        </li>
        <li>
          <a href="">casiers</a>
        </li>
        <li>
          <a href="">élèves</a>
        </li>
      </ul>
    </nav>
  </header>
  <div class="searchbar">
    <input placeholder="Rechercher">
  </div>
  <div>

</body>
</html>

   @vite(['resources/css/app.css', 'resources/js/app.js'])
   <style>
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
</style>