<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      Login
    </title>

    <link rel="preconnect" href="https://fonts.bunny.net" />
    <link
      href="https://fonts.bunny.net/css?family=instrument-sans:400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />
    
    @vite(['resources/css/app.css', 'resources/js/app.js'])
    @stack('dumper')
  </head>
  <body>
    <h1>Log in</h1>
    <form method="POST" action="/login">
      {{ csrfField() }}
      <label for="identifiant">Identifiant:</label><br>
      <input type="text" id="identifiant" name="identifiant"><br>
      <label for="password">Password:</label><br>
      <input type="text" id="password" name="password" required><br><br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
