
*{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
* {
  margin: 0;
  padding: 0;
}
header{
 display: flex;
    flex-direction: row;
    background-color: #D9D9D9;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}
ul{
  display: flex;
  list-style: none;
}
li{
  margin: 0.5rem;
  background-color: #BFBCBC;
  padding: 0.5rem;
  border-radius: 1em;
}
a{
  text-decoration: none;
  color: white;
}
html,
body {
  background-color: #E5E5E5;
  height: 100%;
  width: 100%;
}
.searchbar{
  margin: 1rem;
}
.searchbar input{
  background-color: #D9D9D9;
  padding: 0.5rem;
  border-radius: 1em;
}
